
@font-face{
	font-family: guldensign;
	src: url('guldensign.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
		url('guldensign.ttf')  format('truetype'), /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
		url('guldensign.svg#guldensign') format('svg'); /* Legacy iOS */
	font-weight: normal;
	font-style: normal;
}

.guldensign {
	font-family: 'guldensign';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.guldensign:before {
	content: "\0120";
}